tempad {
  display: block;
  position: absolute;

  font-family: var(--font-family-ui);
  font-size: 11px;
  color: var(--text-primary);
}

tempad *,
tempad *::before,
tempad *::after {
  box-sizing: border-box;
}

/** Tiny utility classes */
tempad .tp-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

tempad .tp-row-justify {
  justify-content: space-between;
}

tempad .tp-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

tempad select {
  height: 28px;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  background-color: var(--color-bg);
}

tempad select:focus-visible {
  border-color: var(--fg-focus);
  outline: 1px solid var(--fg-focus);
}

tempad input[type="text"],
tempad input[type="number"] {
  height: 28px;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  padding: 0 4px;
  background-color: var(--color-bg);
}

tempad input[type=number]::-webkit-inner-spin-button,
tempad input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

tempad input[type="text"]:focus-visible,
tempad input[type="number"]:focus-visible {
  border-color: var(--fg-focus);
  outline: 1px solid var(--fg-focus);
}

tempad ::-webkit-scrollbar {
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 0 solid var(--color-border);
}

tempad ::-webkit-scrollbar:horizontal {
  border-top-width: 1px;
}

tempad ::-webkit-scrollbar:vertical {
  border-left-width: 1px;
}

tempad ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: solid transparent;
  border-width: 3px 2px 2px 3px;
  background-clip: content-box;
  background-color: var(--color-scrollbar);
}
