tempad {
  display: block;
  position: absolute;

  font-family: var(--font-family-ui);
  font-size: 11px;
  color: var(--color-text);
  cursor: default;
  user-select: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

tempad *,
tempad *::before,
tempad *::after {
  box-sizing: border-box;
}

/** Tiny utility classes */
tempad .tp-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

tempad .tp-row-justify {
  justify-content: space-between;
}

tempad .tp-shrink {
  flex-shrink: 1;
  min-width: 0;
}

tempad .tp-gap {
  gap: 0;
}

tempad .tp-gap-l {
  gap: var(--spacer-1);
}

tempad .tp-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

tempad button {
  display: inline-flex;
  place-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  border: none;
  background: none;
  -webkit-user-select: none;
  user-select: none;
}

tempad input,
tempad select {
  cursor: default;
}

tempad input:not([type]),
tempad input[type="text"],
tempad input[type="number"] {
  height: var(--spacer-4);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-medium);
  border-color: var(--color-bg-secondary);
  padding: 0 7px;
  background-color: var(--color-bg-secondary);
  font-family: var(--text-body-medium-font-family);
  font-size: var(--text-body-medium-font-size);
  font-weight: var(--text-body-medium-font-weight);
  letter-spacing: var(--text-body-medium-letter-spacing);
  line-height: var(--text-body-medium-line-height);
}

tempad input[type="number"]::-webkit-inner-spin-button,
tempad input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

tempad select:focus-visible,
tempad input[type="text"]:focus,
tempad input[type="number"]:focus {
  border-color: var(--color-border-selected);
  outline: unset;
}

.os-scrollbar {
  --os-track-bg-hover: var(--color-scrollbartrackhover);
  --os-track-bg-active: var(--color-scrollbartrackdrag);
  --os-handle-bg: var(--color-scrollbar);
  --os-handle-bg-hover: var(--color-scrollbar);
  --os-handle-bg-active: var(--color-scrollbar);
}

.os-scrollbar-vertical:hover::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  width: 1px;
  background-color: var(--color-border);
}

[data-testid="design-toolbelt-wrapper"] [class^="toolbelt_banner--container"],
[data-testid="design-toolbelt-wrapper"]:has([class^="toolbelt_banner--container"])
  [class^="design_toolbelt--enabledToolsRow"]
  ~ *,
[data-testid="design-toolbelt-wrapper"]:has([class^="toolbelt_banner--container"])
  [class^="mode_toggle_switch_divider"],
[data-testid="design-toolbelt-wrapper"]:has([class^="toolbelt_banner--container"])
  [class^="mode_switcher_toggle--toggleWrapper"] {
  display: none !important;
}

@layer overrides {
  /* Cursor override for blocking duplicate cursor when measure tool is on */
  [data-tp-cursor-override] {
    cursor:
      -webkit-image-set(
          url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAGBUlEQVR4AeyYz08kRRTHexaFUSEEQjiQEAgn+A+MHJiDF/8JE49cSFD5FTDMHEAQ9KzRg+FHNiHeJFFjAnOBrKzGYFTQG4RAEGFZ1t0ZFMXvp3dr0plMM93L7sx006ReqvrVq6r3/b73uou5Zd3wv4iAG54AllsGxEQMc05Bh2gqPA2ATjQARFcl5YuSakmNhB55QWPmsNMw+A2wBgWgeAZ4zdnZWfLy8jKTzWa/PTk5SZ2enqZk+JLEEAIZ2LNO6mA2ABjPAQKo6uPj4/G6urphJmpqarobGhoG6+vrh0TI/aOjI4h4RXOGDAgjK9iLPTQVnIbTeIvjjCEg3tjYOIAylUpZsVjMoucZaWpqeldEHGcyma9FVEq6lyWQEcgSAbT8txtRJJpxpf9dNOl0ms5KJpM5IgwZ8Xj8NYgSGfcODw+TlImMISOu3pDB/pArVWU2HMQznEQgofri4sLWJxIJ5nICEUgs9jgrDBnNzc3vUCYi41QlktSCwJSIDVQO0yAAubW0tPQ5ip6eHrqCAhFILPaYDGMUtBJxEnBpQPT29v54cHDwMxmAGL1b7yTCZIWPEnHbtiR6QwDgkf906r+Si1gsxrM1Pj6uR28NIhCttV+chowCJVLoXeHtkGds5SQA8Bfa/x/J+cLCwrx6y0sGYJcvEIEYMsz8kxI50Vfkm62trdel54XJu8f4IlXpmvNQCCD6f+v484GBgY39/f1fNH5qEliLOIkwWUGJdHZ2frm5uVlWEvIJyGWAHM/Ozc0tqvdVBti7CUQgzqzo6OgYkT2fTj7BvIT1+Pxa/s5OAqh5MsAuARlmR0ZG7PsAZYBI98xaOp2296qtrX1VA67XXMLwp6QkcKDOzzXKgCygDLLSZvkaqL92GZg9IHJ1ddVC0G1vb3+inuiX5T2QT4AzCyAgMz8/vyAHravuBMwXEsAigHUKOux1adrs6ur6VOOSRl3n5ZobASYLzoeGhu7yMsRpJLfSZYCNEyxjdAhLdnd3fxsdHX1/YmLiPX0e+6Wj5Cg9so8ASFW6lk8AJ+OIIcDOAr20bMeK3QmSyaSd2oBF2GxnZ+f3wcHBD4eHhz/QPm+2tbWNT05O3hkbG1vX/ANJRnIuKQsJhQgALM5AAo5lFxcX5+Sg5/fA8vLyV/qMfiTAb7W3t6dmZmbuTE9Pr2mPI4cca3wq+UvCOWQC5OuxdK0QAZyOIxCAU9wJ7DJgIpFI0BUUkyFra2s/zc7ObsjoRALoQ/VOQcfcfekfSiAA0iFfj6VrxQgwX4OMnzvB1NSUE/wfgoMA+k+NTeTPNAY8ZQbRFUUAkcAhHCM6Re8E1L8AWSsrK1+op7bvqSfKAKYn3Yk4c6S9qX0yjbM4U0tK29wyAC9MGZgs8HQniMfjkAZIhCjTA5hoA5qIQyp2AOccziuLXEUAEcFBHMXpK+8Epv43Nja+F5JHEgDTAxrAEMle7MneiMzK27wQQIrivKc7QX9/P9dnACOsYz1RrgjA+XRfRQC2OA4AgNhZoE+bDcREHCNT/+vr67f1jC2RZh3rEakrsxUjALCkLGCI6JV3gqqqKmwNAYwrGjwhKUYANoCAAKKa1QUn9zsBkedeYLJB9f+DFoSWAIBRBo/Mr0UA564v0Bbp39fX953GZAqEkQFkkFTla8VO9pIBgACMnQHa8KH+QRLe9dt7e3u/6tniX+bu7u7PNOatDwHYsobskbpymxcC8B4ggAIcIB8I8Metra1v66X4RktLS5+M+Obz6SNLsGWN1JXdvBJgsgACAMmNjpseV1uEmx465rChBEJJAJHlYsPtDgK45iKMyQCyg3cF6Q9plR1+eec1A2RqEVEiC0CAQgKgiTw90Sf9scGWNRUvfggADMAACAlkAqAhg7FJ/cBEH0B+CWCNIYFygAiA00NMoMAD5mkIYB1CjecL+kDJdQgIFFA3ZyMC3Ji5KfooA25KpN1wRhngxsxN0YcuA/wGLiLAL2Nhs48yIGwR9YsnygC/jIXNPsqAsEXUL54oA/wyFjb7KAPCFlG/eKIM8MtY2OyjDAh6RK/r//8AAAD//9mGQHEAAAAGSURBVAMAELWhn/JCA3cAAAAASUVORK5CYII=")
            2x,
          url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAGBUlEQVR4AeyYz08kRRTHexaFUSEEQjiQEAgn+A+MHJiDF/8JE49cSFD5FTDMHEAQ9KzRg+FHNiHeJFFjAnOBrKzGYFTQG4RAEGFZ1t0ZFMXvp3dr0plMM93L7sx006ReqvrVq6r3/b73uou5Zd3wv4iAG54AllsGxEQMc05Bh2gqPA2ATjQARFcl5YuSakmNhB55QWPmsNMw+A2wBgWgeAZ4zdnZWfLy8jKTzWa/PTk5SZ2enqZk+JLEEAIZ2LNO6mA2ABjPAQKo6uPj4/G6urphJmpqarobGhoG6+vrh0TI/aOjI4h4RXOGDAgjK9iLPTQVnIbTeIvjjCEg3tjYOIAylUpZsVjMoucZaWpqeldEHGcyma9FVEq6lyWQEcgSAbT8txtRJJpxpf9dNOl0ms5KJpM5IgwZ8Xj8NYgSGfcODw+TlImMISOu3pDB/pArVWU2HMQznEQgofri4sLWJxIJ5nICEUgs9jgrDBnNzc3vUCYi41QlktSCwJSIDVQO0yAAubW0tPQ5ip6eHrqCAhFILPaYDGMUtBJxEnBpQPT29v54cHDwMxmAGL1b7yTCZIWPEnHbtiR6QwDgkf906r+Si1gsxrM1Pj6uR28NIhCttV+chowCJVLoXeHtkGds5SQA8Bfa/x/J+cLCwrx6y0sGYJcvEIEYMsz8kxI50Vfkm62trdel54XJu8f4IlXpmvNQCCD6f+v484GBgY39/f1fNH5qEliLOIkwWUGJdHZ2frm5uVlWEvIJyGWAHM/Ozc0tqvdVBti7CUQgzqzo6OgYkT2fTj7BvIT1+Pxa/s5OAqh5MsAuARlmR0ZG7PsAZYBI98xaOp2296qtrX1VA67XXMLwp6QkcKDOzzXKgCygDLLSZvkaqL92GZg9IHJ1ddVC0G1vb3+inuiX5T2QT4AzCyAgMz8/vyAHravuBMwXEsAigHUKOux1adrs6ur6VOOSRl3n5ZobASYLzoeGhu7yMsRpJLfSZYCNEyxjdAhLdnd3fxsdHX1/YmLiPX0e+6Wj5Cg9so8ASFW6lk8AJ+OIIcDOAr20bMeK3QmSyaSd2oBF2GxnZ+f3wcHBD4eHhz/QPm+2tbWNT05O3hkbG1vX/ANJRnIuKQsJhQgALM5AAo5lFxcX5+Sg5/fA8vLyV/qMfiTAb7W3t6dmZmbuTE9Pr2mPI4cca3wq+UvCOWQC5OuxdK0QAZyOIxCAU9wJ7DJgIpFI0BUUkyFra2s/zc7ObsjoRALoQ/VOQcfcfekfSiAA0iFfj6VrxQgwX4OMnzvB1NSUE/wfgoMA+k+NTeTPNAY8ZQbRFUUAkcAhHCM6Re8E1L8AWSsrK1+op7bvqSfKAKYn3Yk4c6S9qX0yjbM4U0tK29wyAC9MGZgs8HQniMfjkAZIhCjTA5hoA5qIQyp2AOccziuLXEUAEcFBHMXpK+8Epv43Nja+F5JHEgDTAxrAEMle7MneiMzK27wQQIrivKc7QX9/P9dnACOsYz1RrgjA+XRfRQC2OA4AgNhZoE+bDcREHCNT/+vr67f1jC2RZh3rEakrsxUjALCkLGCI6JV3gqqqKmwNAYwrGjwhKUYANoCAAKKa1QUn9zsBkedeYLJB9f+DFoSWAIBRBo/Mr0UA564v0Bbp39fX953GZAqEkQFkkFTla8VO9pIBgACMnQHa8KH+QRLe9dt7e3u/6tniX+bu7u7PNOatDwHYsobskbpymxcC8B4ggAIcIB8I8Metra1v66X4RktLS5+M+Obz6SNLsGWN1JXdvBJgsgACAMmNjpseV1uEmx465rChBEJJAJHlYsPtDgK45iKMyQCyg3cF6Q9plR1+eec1A2RqEVEiC0CAQgKgiTw90Sf9scGWNRUvfggADMAACAlkAqAhg7FJ/cBEH0B+CWCNIYFygAiA00NMoMAD5mkIYB1CjecL+kDJdQgIFFA3ZyMC3Ji5KfooA25KpN1wRhngxsxN0YcuA/wGLiLAL2Nhs48yIGwR9YsnygC/jIXNPsqAsEXUL54oA/wyFjb7KAPCFlG/eKIM8MtY2OyjDAh6RK/r//8AAAD//9mGQHEAAAAGSURBVAMAELWhn/JCA3cAAAAASUVORK5CYII=")
            1x
        )
        4 4,
      auto !important;
  }
}
